/* fondo de pantalla y eliminacion de estilos predeterminados */
html{
    background-image: url(../image/header/imagen\ fondo\ ladrillo.jpg);
}
li{    
    list-style-type: none;
}
ul{
    margin:0;
    padding:0;
}
a{
text-decoration: none; 
}
/* grilla principal de la pagina */
.gridIndex{
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
    grid-template-rows: 200px 75px 600px 200px;
    grid-template-areas: "logo logo logo banner banner banner banner banner banner banner"
                          "menu menu menu menu menu menu menu menu menu menu "
                          "productos productos productos productos productos productos promociones promociones promociones promociones"
                          "redes redes redes textos textos textos textos textos textos disenador";
    
    justify-items:stretch;
    justify-content:start;    
}
/* header, logo y banner (a futuro deberia tener movimiento)*/
.flexHeader{    
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-between;       
}
#logo:hover{ 
    transform: translate(30px, 30px);   
    grid-area: logo;    
    height: 200px;
    width: 300px;
    align-self:stretch;
}
#banner{    
    margin-left: 120px;
    grid-area: banner;    
    width: 70%;    
}
/* menu de navegacion */
.menu{  
    grid-area: menu;
    background-image: linear-gradient(to left, rgb(153, 0, 255) , rgb(157, 60, 170));             
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    justify-items: center;
    height: 50px;
    width: 100%;
}
#menuColor{     
    color: white;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif; 
}
#menuColor:hover{
    color: rgb(42, 233, 207);
}
/* titulos e imagenes del main y aside */

h2{
    margin: 0;
    padding: 0;        
    background-color: rgb(223, 217, 217);
    color: rgb(47, 146, 64);
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;    
}
.titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: start;
    justify-items: center;
    width: 100%;
}
#productos{
    grid-area: productos;    
}
#promociones{
    grid-area: promociones;    
}
#imagenes{/* a futuro la intencion es que las imagenes vayan rotando como SLIDE y no sean estaticas */    
    display: flex;
    flex-direction:column;
    flex-wrap:nowrap;
}
/* footer */
.redes{
    grid-area: redes;
    background-image: linear-gradient(to right, rgb(68, 0, 255) , rgb(157, 60, 170));
    display: flex;
    flex-direction: row; 
    justify-content:flex-start;    
    height: 100px;
    width: 200px;    
}
#textos{
    grid-area: textos;    
    background-color: rgb(157, 60, 170);    
    display: flex;
    flex-direction: row; 
    justify-content:center;   
    align-content: center;
    columns: 10px;
    font-size: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight:normal;    
    width: 1090px;    
}
.textos{    
    color: white;
    text-align: start;
    align-items:stretch;    
}
.disenador{/* la intencion es poner los accesos del programador y/o diseñador de la pagina */
    grid-area: disenador;
    display: flex;
    background-color: rgb(157, 60, 170); 
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    height: 100px;
    width: 200px;
}
